.vs/
*.sln
*.vcxproj.filters
*.vcxproj.user

.cache/
build/
obj/
resources/cfg/osu.cfg
resources/version.txt
resources/*.db

libraries-old

*.o
*.o.*
*.lo
*.la
*.Po
*.Plo
*.Tpo
*.deps
*.deps/
/*.deps
.deps/
.libs/
/build-aux/cache/
/build-aux/deps/
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
dist/
dist-*/
debug*/
release/
/test-*/

/cmake-win/depcache/
/cmake-win/build*/
/cmake-win/dist*/
/cmake-win/\.*

/Makefile
/Makefile.in
/src/config.h
/src/config.h.in
/src/config.h.in~
/src/Makefile.sources
/config.log
/config.status
/src/stamp-h1
.dirstamp

/aclocal.m4
/autom4te.cache
/configure
/configure~

.vscode/
.idea/
*~
*.swp
*.swo
.clangd
.cache

compile_commands.json
core
